@media screen and (max-width: 1024px) {
    header {
        .desktop-nav {
            display: none;
        }
        .btn.desktop {
            display: none;
        }
        .hamburger {
            display: inline-block;
        }
    }
}


