@media screen and (max-width: 1024px) {
    .burger {
        display: inline-block;
    }

    header {
        nav {
            display: none;
        }
        .btn {
            display: none;
        }
    }
}


