@media screen and (max-width: 1024px) {
    header {
        .desktop-nav {
            display: none;
        }
        .btn.desktop {
            display: none;
        }
        .hamburger {
            display: inline-block;
        }
    }

    .first-screen {
        .swiper {
            border-radius: 0;
            height: calc(100vh - 99px);
            .swiper-slide {
                border-radius: 0;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-color: #04051199;
                    z-index: -1;
                }
            }

            .wraper {
                padding-left: 75px;
                padding-right: 75px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                h1 {
                    font-size: 50px;
                    max-width: 400px;
                }
                p {
                    font-size: 18px;
                }
                .btn-arrow {
                    max-width: 295px;
                    font-size: 16px;
                    gap: 52px;
                }
            }
            .swiper-button-prev, .swiper-button-next {
                display: none;
            }
        }
    }

    .container-fluid {
        margin: 0;
    }
}


