.about {
    margin-top: 91px;
    .container {
        display: flex;
        gap: 35px;
        max-width: 1180px;

        .block-text {
            .template-title {
                &::after {
                    background-color: $icons-color;
                }
                margin-bottom: 44px;
                margin-top: 44px;
            }
            p {
                font-size: 18px;
                line-height: 30.6px;
                font-weight: 300;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}