
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova';
    line-height: normal;
    color: $font-color;
}

body {
    background-color: #282B38;
}

a {
    text-decoration: none;
    
}

ol {
    padding-left: 20px; 
    li::marker {
        color: $icons-color;
        font-size: 22px;
        font-weight: 700;
        font-family: 'Proxima Nova';
    }
    li {
        padding-left: 5px;
    }
}

ul {
    padding-left: 15px;
    li::marker {
        color: $icons-color;
        font-size: 20px;
    }
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 70.56px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44.82px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30.24px;
}

h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 27.39px;
}

h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 29.2px;
}

h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.41px;
}

input {
    width: 100%;
    padding: 19px 0 18px 20px;
    color: #CBCBCB;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18.9px;
    font-weight: 400;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label{
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;

    &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 5px;
        background-color: $font-color;
        position: absolute;
        top: -3px;
        left: 0;
    }
}

input[type="checkbox"]:checked + label {
    &::before {
        background: $font-color url("assets/img/checkmark.svg") center/contain no-repeat;
        background-size: 15px;
    }
}

input[type="radio"] + label {
    position: relative;
    padding-left: 26px;

    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
    }

}

input[type="radio"]:checked + label::before {
    background: $font-color url("assets/img/circle-black-geometric-shape-svgrepo-com.svg") center/contain no-repeat;
    background-size: 8px;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
}

.container-fluid {
    margin: 0 50px;
    background-color: $secondary-bg-color;
    border: none;
    border-radius: 20px;
}

.btn {
    padding: 14px 27px;
    border: none;
    border-radius: 90px;
    background-color: #E58D35;
    font-size: 15px;
    line-height: 21.9px;
    font-weight: 600;
}

.btn-transparent {
    padding: 14px 24px;
    border: 1px solid #E58D35;
    border-radius: 90px;
    background-color: transparent;
    font-size: 15px;
}

.btn-arrow {
    padding: 23px 0 23px 33px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23.36px;
    border: none;
    border-radius: 90px;
    background-color: #E58D35;
    width: 100%;
    max-width: 293px;
    display: flex;
    
    position: relative;
    
    .arrow {
        width: 27px;
        height: 27px;
        position: absolute;
        right: 20px;
        background: url("assets/img/arrow-circle-left.svg");
    }
}

.overflow-hidden {
    overflow: hidden;
}

.template-title {
    margin: 0 auto;
    text-align: center;
    max-width: 1140px;
    width: 100%;
    text-transform: uppercase;

    &::after {
        content: "";
        display: inline-block;
        width: 85px;
        height: 2px;
        background: $button-color;
        margin-top: 15px;
    }
}

.bt-green {
    &::after {
        background: $icons-color;
    }
}

.title-align-left {
    text-align: left;
}

.title-element-in-text {
    text-align: left;

    h2::after {
        content: "";
        display: inline-block;
        width: 85px;
        height: 2px;
        background: $icons-color;
        margin: 10px 20px;
    }
    &::after {
        display: none;
    }
}

.swiper-pagination {
    position: absolute;
    display: flex;
    gap: 26px;
    justify-content: center;
}
.swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid #fff;
    opacity: 1;
    margin: 0 !important;

}
.swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper-button-prev, .swiper-button-next {
    color: #fff;
    transition: .3s;
    padding: 0 40px;
    &:hover {
        color: $icons-color;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}