header{
	max-width: 1170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 15px;
	margin: 0 auto;
	
	.desktop-nav {
		display: flex;
		gap: 45px;
		
	}
	
	.btn {
		max-width: 171px;
		width: 100%;
	}

	.hamburger {
		display: none;
		padding: 0 5px;
		height: 40px;

		.hamburger-box {
			
			width: 30px;

			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				width: 30px;
				height: 3px;
				background-color: #FFFFFF;
			}
		}
	}


	
	.burger-menu {
		display: flex;
		width: 100%;
		height: 508px;
		padding: 0 15px;
		position: absolute;
		top: 99px;
		left: -100%;
		background-color: $secondary-bg-color;
		flex-direction: column;
		align-items: center;
		transition: .3s;
		z-index: 2;
	
		.mobile-nav {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
			font-size: 24px;
			margin-top: 37px;
			margin-bottom: 34px;
		}

		.btn.mobile {
			max-width: 295px;
			height: 68px;
			font-size: 16px;
		}
	}

	.show {
		left: 0;
	}

	
}