.markap {
    .markap-content {
        padding: 0 100px;
        display: grid;
        grid-template-columns: calc(30% - 20px) calc(30% - 20px) calc(30% - 20px);
        gap: 30px;
        
        .list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            div {
                width: 100%;
                height: 50px;
                border: 1px solid;
            }
            .color-1 {
                background-color: $primary-bg-color;
            }
            .color-2 {
                background-color: $secondary-bg-color;
            }
            .color-3 {
                background-color: $button-color;
            }
            .color-4 {
                background-color: $icons-color;
            }
        }


        .font-weight {
            li:nth-child(1) {
                font-weight: 300;
            }
            li:nth-child(2) {
                font-weight: 400;
            }
            li:nth-child(3) {
                font-weight: 600;
            }
            li:nth-child(4) {
                font-weight: 700;
            }
        }

        .btn-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}