<section class="calculate">
    <div class="container">
        <div class="template-title title-element-in-text">
            <h2>Получить рассчет стоимости <br> доставки вашего груза</h2>
        </div>
        <form class="calculation-form">
            <div class="form-row">
                <div class="form-col">
                    <div class="inputs-container">
                        <label for="category">Категория товара:</label>
                        <input id="category" type="text" placeholder="Категория товара">
                    </div>
                    <div class="inputs-container">
                        <label for="weight">Вес груза (кг):</label>
                        <input id="weight" type="number" placeholder="Введите вес">
                    </div>
                </div>
                <div class="form-col">
                    <div class="inputs-container">
                        <label for="price">Стоимость груза:</label>
                        <input id="price" type="number" placeholder="Введите стоимость">
                    </div>
                    <div class="inputs-container">
                        <label for="volume">Объем груза (м3):</label>
                        <input id="volume" type="number" placeholder="Введите объем">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col">
                    <div class="inputs-container">
                        <div class="checkboxes">
                            <input id="insurance" type="checkbox">
                            <label for="insurance">Страховка</label>
                        </div>
                        <div class="checkboxes">
                            <input id="customs" type="checkbox">
                            <label for="customs">Таможенное оформление</label>
                        </div>
                    </div>
                </div>
                <div class="form-col">
                    <div class="inputs-container">
                        <label for="code">Код ТН ВЭД:</label>
                        <input id="code" type="text" placeholder="Введите код">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-col">
                    <div class="inputs-container type-file">
                        <label>фотография.jpeg</label>
                        <input id="file" type="file">
                        <label for="file">Загрузить фото товара</label>
                    </div>
                </div>
            </div>
            <button class="btn-arrow">Следующий шаг<span class="arrow"></span></button>
        </form>
    </div>
</section>