<section class="delivery">
	<div class="container">
		<div class="template-title">
			<h2>Варианты доставки грузов из Китая</h2>
		</div>
		<div class="swiper delivery-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/delivery-img-1.svg">
                        </div>
                        <h4>Авто - обычная</h4>
                        <div class="card-info">
                            <span><img src="assets/img/calendar-icon.svg">9-15 дн</span>
                            <span><img src="assets/img/box-icon.svg">от 5 кг</span>
                        </div>
                        <div class="price">
                            <span>от</span>
                            <b>2,5</b>
                            <span>$/кг</span>
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn">Оставить заявку</a>
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
				<div class="swiper-slide">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/delivery-img-2.svg">
                        </div>
                        <h4>Авто - ускоренная</h4>
                        <div class="card-info">
                            <span><img src="assets/img/calendar-icon.svg">9-15 дн</span>
                            <span><img src="assets/img/box-icon.svg">от 5 кг</span>
                        </div>
                        <div class="price">
                            <span>от</span>
                            <b>2,5</b>
                            <span>$/кг</span>
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn">Оставить заявку</a>
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
				<div class="swiper-slide">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/delivery-img-3.svg">
                        </div>
                        <h4>Авиа</h4>
                        <div class="card-info">
                            <span><img src="assets/img/calendar-icon.svg">9-15 дн</span>
                            <span><img src="assets/img/box-icon.svg">от 5 кг</span>
                        </div>
                        <div class="price">
                            <span>от</span>
                            <b>2,5</b>
                            <span>$/кг</span>
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn">Оставить заявку</a>
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/delivery-img-4.svg">
                        </div>
                        <h4>Ж/д</h4>
                        <div class="card-info">
                            <span><img src="assets/img/calendar-icon.svg">9-15 дн</span>
                            <span><img src="assets/img/box-icon.svg">от 5 кг</span>
                        </div>
                        <div class="price">
                            <span>от</span>
                            <b>2,5</b>
                            <span>$/кг</span>
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn">Оставить заявку</a>
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card-img">
                            <img src="assets/img/delivery-img-5.svg">
                        </div>
                        <h4>Море</h4>
                        <div class="card-info">
                            <span><img src="assets/img/calendar-icon.svg">9-15 дн</span>
                            <span><img src="assets/img/box-icon.svg">от 5 кг</span>
                        </div>
                        <div class="price">
                            <span>от</span>
                            <b>2,5</b>
                            <span>$/кг</span>
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn">Оставить заявку</a>
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
			</div>
			<div class="swiper-pagination"></div>
		    <div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>

