<section class="faq">
	<div class="container">
		<div class="template-title">
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <div class="content">
            <div class="accordion">
		    	<div class="accordion-item">
                    <button class="accordion-button">Как рассчитывается стоимость доставки?</button>
		    	    <div class="panel">
		    	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos nam ratione itaque perferendis ipsa optio et vitae error nisi! Molestias quos numquam, veritatis nam voluptatibus necessitatibus adipisci repellat officia.</p>
		    	    </div>
                </div>
		    	<div class="accordion-item">
                    <button class="accordion-button">Как происходит оплата за доставку груза?</button>
		    	    <div class="panel">
		    	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos nam ratione itaque perferendis ipsa optio et vitae error nisi! Molestias quos numquam, veritatis nam voluptatibus necessitatibus adipisci repellat officia.</p>
		    	    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button">Как происходит оплата за доставку груза?</button>
		    	    <div class="panel">
		    	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos nam ratione itaque perferendis ipsa optio et vitae error nisi! Molestias quos numquam, veritatis nam voluptatibus necessitatibus adipisci repellat officia.</p>
		    	    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button">Можно ли через вас оплатить товар поставщику?</button>
		    	    <div class="panel">
		    	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos nam ratione itaque perferendis ipsa optio et vitae error nisi! Molestias quos numquam, veritatis nam voluptatibus necessitatibus adipisci repellat officia.</p>
		    	    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button">В чём особенность КАРГО доставки из Китая</button>
		    	    <div class="panel">
		    	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos nam ratione itaque perferendis ipsa optio et vitae error nisi! Molestias quos numquam, veritatis nam voluptatibus necessitatibus adipisci repellat officia.</p>
		    	    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button">Какой срок доставки из Китая?</button>
		    	    <div class="panel">
		    	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dignissimos nam ratione itaque perferendis ipsa optio et vitae error nisi! Molestias quos numquam, veritatis nam voluptatibus necessitatibus adipisci repellat officia.</p>
		    	    </div>
                </div>
		    </div>
            <form action="">
                <div class="title">
                    <h3>Остались вопросы?</h3>
                    <p>Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
                </div>
                <fieldset>
                    <input type="text" id="name">
                    <input type="number" id="phone-number">
                    <input type="email" id="email">
                    <textarea name="" id=""></textarea>
                </fieldset>
            </form>
        </div>
	</div>
</section>
