<section class="content-section">
    <div class="container-fluid first-screen">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide slide-1">
                <div class="wraper">
                  <h1>Прямое КАРГО из Китая</h1>
                  <p>Доставляем любые грузы из Китая <br> по честной цене</p>
                  <button class="btn-arrow">Рассчитать стоимость<span class="arrow"></span></button>
                </div>
              </div>
              <div class="swiper-slide slide-2">
                <div class="wraper">
                  <h1>Выкуп товара с ТаоБао, 1688</h1>
                  <p>Выкуп и доставка товаров <br> с китайских торговых площадок. </p>
                  <button class="btn-arrow">Рассчитать стоимость<span class="arrow"></span></button>
                </div>
              </div>
              <div class="swiper-slide slide-3">
                <div class="wraper">
                  <h1>Прямое КАРГО из Китая</h1>
                  <p>Доставляем любые грузы из Китая по честной цене</p>
                  <button class="btn-arrow">Рассчитать стоимость<span class="arrow"></span></button>
                </div>
              </div>
              <div class="swiper-slide slide-4">
                <div class="wraper">
                  <h1>Прямое КАРГО из Китая</h1>
                  <p>Доставляем любые грузы из Китая по честной цене</p>
                  <button class="btn-arrow">Рассчитать стоимость<span class="arrow"></span></button>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="wrap">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
    </div>
</section>