<section class="services">
    <div class="container-fluid">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="swiper services-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
                    <div class="card card-1">
                        <h4>Выкуп товара</h4>
                        <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </p>
                        <div class="btn-row">
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
				<div class="swiper-slide">
                    <div class="card card-2">
                        <h4>Страховка груза</h4>
                        <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </p>
                        <div class="btn-row">
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
				<div class="swiper-slide">
                    <div class="card card-3">
                        <h4>Аренда склада</h4>
                        <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </p>
                        <div class="btn-row">
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card card-4">
                        <h4>Перевод денежных средств</h4>
                        <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </p>
                        <div class="btn-row">
                            <a href="#" class="btn-transparent">Подробнее</a>
                        </div>
                    </div>
                </div>
			</div>
			<div class="swiper-pagination"></div>
		    <div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
    </div>
</section>